// mixin SASS file
    
@mixin box-size($boxes) {
    box-sizing: $boxes;
     -webkit-box-sizing: $boxes;
}
@import url(https://fonts.googleapis.com/css?family=Cardo:400,700|Josefin+Sans:400,700,100);
@mixin all {
    padding:0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin bg-header {
    background-color: $main-background-color;
    background-color: $light-blue;
    color: $dark-grey;
    border-bottom: $border $med-blue;
    border-top: $border $dark-blue;
    position: relative;
}
@mixin col-two {
    width: 50%;
    float: left;
    padding-bottom: 2rem;
    border-left: $border $dark-blue;
    margin-bottom: 2rem;
}
@mixin li-a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $dark-grey;
    font-size: 1.414rem;
    letter-spacing: 0.25rem;
    border: $border $light-grey;
    border-bottom: none;
    padding: 1.0rem 2rem;
    line-height: 1;
    background-color: $main-background-color;
}
@mixin h1-i-fa-lg {
    display: block;
    width: 25%;
    float: left;
    font-size: 7rem;
    line-height: 12.7936rem;
    color: $light-brown;
}