// variable SASS file

$light-blue: #C7F7FF;
$med-blue: #89C0C9;
$dark-blue: #3a5E63;
$light-brown: #C9A689;
$dark-brown: #7C593C;
$light-grey: #d4d4d4;
$dark-grey: #222;
$main-background-color:#fff;
$main-font-stock: 'Josefin Sans',

sans-serif;
$headings: Cardo,
‘Palatino Linotype’,
‘Book Antiqua’,
Palatino,

serif;
$main-font-size:16px;
$default-width:400px;
$border:1rem solid;
$padding:2rem 0;
$zero:0;