@import "_variable.scss";
@import "_mixins.scss";
       
* {
    @include all;
}
*:after,
*:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    font-size: $main-font-size;
    font-family: $main-font-stock;
    line-height: 1.6;
}
h1,
h2,
h3,
h4 {
    font-family: $headings;
    /* serif for the headings */
}
ul {
    list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after{
    display:table;
    clear: both;
    content: "";
}

/***********************************************
                LAYOUT
***********************************************/

.bg-header{
    @include bg-header;
}
    
.bg-header:before,
.bg-header:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 30%;
    height: 1rem;
    background-color: $dark-blue;
}

.bg-header:before {
    left: 0;
}
.bg-header:after {
    right: 0;
}


.bg-focal {
    background-color: $light-brown;
    color: $dark-brown;
}
    
.bg-content1{
    background-color: $main-background-color;
    color: $dark-grey;
}
.bg-content2 {
    background-color: $light-blue;
    color: $dark-blue;
}
.bg-footer {
    background-color: #fff;
    color: $light-grey;
}

header {
    width: $default-width;
    margin: 0 auto;
    position: relative;
}
    
header h1 {
        width: 100%;
        padding: 0 2rem;
}

//---------------------------***
header nav {
    width: 100%;
    
     >ul li {
        width: 100%;
        float: none;
    }
}

section {
    .focal{
        width: $default-width;
        margin: 0 auto;
    }
        
    .content1 {
        padding: $padding;
    }
    .content2 {
        padding: $padding;  
    }
}

.row {
    clear: both;
}

.col-2 {
    @include col-two;
}

footer .col-2:first-child {
    border-left: 0;
}

footer{
    padding:2rem 0;

    p:last-child{
    }
}

/***********************************************
                NAVIGATION
***********************************************/

header { 
    nav{
        padding: $padding;
        clear: both;
    
        >ul>li>a{
            display:block;
            text-align: center;
            text-decoration: none;
            color: $dark-grey;    
            font-size: 1.414rem;
            letter-spacing: 0.25rem;
            border:1px solid $light-grey; 
            border-bottom: none;
            padding:1.0rem 2rem;
            line-height: 1;
            background-color: #fff;

                :hover{
                    font-weight: 700;
                    color:$dark-brown;
            }
        }
    }
}

/***********************************************
                CONTENT
***********************************************/

header { 
    h1 {
        color: $dark-brown;
        letter-spacing: 0.1rem;
    
        i.fa-lg {
            @include h1-i-fa-lg;

        
           ~ span {
                float: right;
                width: 75%;
                font-size: 3.998rem;
                padding-left: 1rem;
                text-align: right;
            }
        }
    }
}

.focal {    
    h2 {
        font-size: 1.999rem;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;
    }
    .author {
        font-size: 1rem;
        padding: 0.2rem 2rem 2rem;
    }
}

.content1 {
        p{
    font-size: 1.414rem;
    padding: 0.5rem 2rem 2rem;
        }
    h3 {
        font-size: 1.999rem;
        padding: 0.2rem 2rem 2rem;
    
            i {
                vertical-align: middle;
                padding-right: 2rem;
        }
    }
}

.content2 { 
    h3 {
        font-size: 1.999rem;
        padding: 1rem 2rem 0.5rem;
    }
    h4 {
        font-size: 1.999rem;
        padding: 1rem 2rem 0rem;
    }
    p {
        font-size: 1.414rem;
        padding: 0.5rem 2rem 1rem;
    }
    li {
        padding: 0.5rem 2rem;
        font-size: 1.414rem;
        }
}

/***********************************************
                FOOTER
***********************************************/

footer { 
    p {
        font-size: 1rem;
        padding: 0.5rem 2rem;
        color: $dark-grey;
    }
    .fa-circle {
        color: $dark-grey;
    }
    h4 {
        font-size: 1.414rem;
        padding: 0.5rem 2rem;
        color: $dark-brown;
                
        [lang=de]{
            display:block;

        [lang=en],
        [lang=ar],
        [lang=ru] {
            display: none;
            }
        }
    }
}

/***********************************************
                MEDIA QUERIES
/***********************************************/
@import "_queries.scss";